body {
    font-family:Arial, Helvetica, sans-serif;
    width: 500px;
    margin: 50px 20px 20px 40px;
}

h1 {
    font-size: 40px;
    background-image: url(img/plants.jpg);
    color: white;
    padding: 20px;
}

h3 {
    color: #16521a;
}